body{
  background-color: #0D1323;
}
.Content{
  margin: 190px 150px 190px 150px;
}
table tr th{
  height: auto;
  width: 500px;
}
.Usuario{
  border-radius: 25px;
  background-color: #1D204B;
  margin: 0px 795px 0px 0px ;
} 

.grid-item {
  display: inline-grid;
}


.DentroU{
 
  top: 1px;
  border-radius: 25px;
  
  margin-top: 0px;
  padding-bottom: 100px;
  background-color: #5746EA;

}

.DentroU img{
  margin-top: 15px;
  height: 50px;
  width: auto;
}

.Marco{
  background-color: #FF8B64;
}

.Marco2 {
  background-color: #56C2E6;
}

.Marco3{
  background-color: #FE5F7D;
}

.Marco4{
  background-color: #4BCF83;
}

.Marco5{
  background-color: #7235D1;
}

.Marco6 {
  background-color: #F1C75B;
}

.Ficha{
  background-color:   #1D204B;
}
